[Unit]
Description=Nodegem WebApi

[Service]
Environment=DOTNET_ROOT=/usr/bin/dotnet
EnvironmentFile=/var/nodegem/vars.env
WorkingDirectory=/var/nodegem/webapi
User=nodegemserviceuser
Group=nodegemserviceuser
ExecStart=/var/nodegem/webapi/Nodegem.WebApi
Restart=Always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=nodegem

[Install]
WantedBy=multi-user.target
