[Unit]
Description=Nodegem Client Service

[Service]
Environment=DOTNET_ROOT=/usr/bin/dotnet
WorkingDirectory=/var/nodegem/client
Type=simple
User=nodegemserviceuser
Group=nodegemserviceuser
ExecStart=/var/nodegem/client/Nodegem.ClientService -u ${username} -p ${password} ${extra}
Restart=on-failure
RestartSec=3
SyslogIdentifier=nodegem

[Install]
WantedBy=multi-user.target
