@model Nodester.Data.Dto.EmailDtos.ResetPasswordEmailDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="https://www.nodegem.io/favicon.ico" />
    <title>Successfully Reset Password</title>
</head>
<body>
<div>
    <p>Your password has been reset.</p>
    <p>If you did not request this reset then please contact us.</p>
</div>
</body>
</html>